body, html {
    margin: 0;
    padding: 0;
  }

/*header*/
.logo-container, .menu-item{
    margin-left: 6%;
    margin-right: 6%;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-row{
    margin-right:15px;
}


  


@media (max-width: 576px) {
    .form-control {
      margin-bottom: 10px; /* Adds a margin at the bottom for smaller devices */
    }
  
    .btn {
      width: 100%; /* Makes the button full width on smaller devices */
    }
  }
  


.account-row{
    margin-right: 5%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-row a{
    text-decoration: none;
}


.cart-container {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; /* You can use any font of your choice */
  }
  
  .cart-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
  
  .icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fa-cart-shopping {
    font-size: 24px;
    color: #000;
  }
  
  .item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 12px;
  }
  
  .cart-text {
    margin-top: 8px; /* Adjust the space between the icon and text as needed */
  }
  
  


/*phan menu cua header*/ 

.menu-container{
    background-color: #2b80dd;
    padding: 12px;
}

.menu-item{
    display: flex;
    justify-content: space-between;
}

.menu-box a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation-container .navbar-nav .nav-link {
    color: #ffffff !important; /* Use !important to override Bootstrap's default styling */
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.bg-custom{
    background-color:#2B80DD;
}
.navbar-toggler{
    margin-left: 15px;
}
.custom-nav{
    margin-left: 2%;
}
.search-btn{
    color: black;
    border-color: #2B80DD;
}
.search-btn:hover {
    background-color: #2B80DD; /* Blue background */
    color: white; /* Change text color to white for better visibility */
    border-color: black; /* Optional: Change border color to match background */
}

.dropdown-menu-left {
    right: 0;
    left: auto;
}

@media (min-width: 992px) { /* Adjust this breakpoint to match Bootstrap's lg size if needed */
    .custom-nav {
        display: flex;
        justify-content: space-between; /* Distributes space evenly between items */
        width: 100%; /* Ensures the navbar-nav takes up the full width */
        padding-left: 6%;
        padding-right: 6%;
    }
}   

/* Ensure larger screens only to avoid affecting mobile usability */
@media (min-width: 992px) {
    /* Initial state of the dropdown menu */
    .navbar .nav-item.dropdown .dropdown-menu {
        display: block;
        min-width: 400px;
        width: 100%;
        opacity: 0;
        visibility: hidden; /* Ensures the menu isn't accidentally interactable when invisible */
        transform: translateY(-5px); /* Adjust the value as needed */
        transition: opacity 0.1s ease, transform 0.5s ease;
    }

    /* State of the dropdown menu when hovering over the dropdown item */
    .navbar .nav-item.dropdown:hover .dropdown-menu {
        opacity: 1;
        margin-top: .02rem;
        visibility: visible; /* The menu becomes interactable */
        transform: translateY(0);
    }
}

/* Footer */
.Footerbackground{
    width: 100%;
    background-color: #0000001a;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    display:flex
}

/*Main home*/

/* Adjust the position of the carousel control buttons */
.carousel-control-prev, .carousel-control-next {
    /* Adjust these values as needed to bring the buttons closer to the center */
    width: 5%;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.image-container {
    position: relative;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.image-container img:hover {
    transform: scale(1.1);
}
.image-description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
}
