body, html {
    margin: 0;
    padding: 0;
  }



/*Main home*/

.carousel{
    margin-top: px;
}
/* Adjust the position of the carousel control buttons */
.carousel-control-prev, .carousel-control-next {
    /* Adjust these values as needed to bring the buttons closer to the center */
    width: 5%;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev, .carousel-control-next {
    /* Adding a semi-transparent background for better visibility */
    background-color: rgba(0, 0, 0, 0.1);
    /* Smooth transition for hover effects */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Style for the icons within the buttons */
.carousel-control-prev-icon, .carousel-control-next-icon {
    /* Ensuring the icon color is visible against light backgrounds */
    filter: invert(100%);
}

/* Hover styles for the control buttons */
.carousel-control-prev:hover, .carousel-control-next:hover {
    /* Change background color and add shadow on hover for better visibility */
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Adjusting the hover color of the icons to maintain contrast */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    /* Changing the icon color to white upon hover */
    filter: invert(0%);
}   

.carousel-item {
    /* Set the height of the carousel */
    height: 500px; /* Example height, adjust as needed */
}

.carousel-item img {
    width: 100%; /* Make image span the full width of the carousel */
    height: 500px; /* Match carousel item height */
    object-fit: cover; /* Cover the area without breaking aspect ratio */
    object-position: center; /* Center the image within the element */
}
@media (max-width: 1177px) {
    .carousel-item, .carousel-item img {
        height: 400px; /* Adjusted height for medium screens */
    }
}

@media (max-width: 768px) {
    .carousel-item, .carousel-item img {
        height: 300px; /* Adjusted height for medium screens */
    }
}

/* Adjustments for small screens (e.g., mobile phones) */
@media (max-width: 576px) {
    .carousel-item, .carousel-item img {
        height: 200px; /* Adjusted height for small screens */
    }
}

.image-container {
    position: relative;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}
.image-container img:hover {
    transform: scale(1.1);
}
.image-description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.product-series{
    margin-top: 5px;
    margin-bottom: 5px
}

.product-series-container{
    margin-bottom: 20px;
}

.black-bar a{
    text-decoration: none;
    color: #000000;
    font-size: 32px;
    font-weight: 650;
}

.black-bar{
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding-left: 1rem;
    width: 100%;
}


.product-showcase{
    display: flex;
    justify-content: center;
}