.navbar-nav {
    display: flex;
    justify-content: space-between;
    background-color: #3498db;
}

.nav-item {
    flex: 1;
    display: flex;
    align-items: stretch;
    position: relative; /* Added position relative */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the nav item */
    background-color: #f9f9f9;
    min-width: 1000px; /* Increase the width of the dropdown menu */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}