body{
   background-color: rgb(226, 232, 238);
}
.containertop{
    display: flex;
}
.containerbottom{
    display: flex;
    margin-top: 10px;
}
.container1{
    width: 230px;
    height: 350px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#ffffff;
    margin-left: 10px;
}
.hinh1{
    height: 200px;
    width: 200px;
    transition: transform 0.3s ease;
}
.hinh1:hover{
    transform: scale(0.8);
}
.gia1{
    display: flex;
    text-align: center;
}
.giasale1{
    color: red;
    margin-right: 10px;
    margin-left: 10px;
}
.giagoc1{
    color: rgb(140, 145, 150);
    text-decoration: line-through;
}
.info1{
    text-align: center;
}
.lienhe{
    color: red;
    text-align: center;
}

    